* {
  font-family: cursive
}

:root {
  --white: white;
  --black: black;
}

body,
#root,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

main {
  background-color: var(--white);
  color: var(--black);
  height: 100%;
}

.darkmode {
  --white: black;
  --black: white;
}

.card-serach-result {
  display: flex;
  cursor: pointer;
}

.capa-playing {
  width: 400px;
  height: 400px;
}

.capa-preview {
  width: 120px;
  height: 120px;
}

.video-container {
  display: none;
}

main {
  display: flex;
}

main>div {
  flex: 1;
}

.container-progress {
  border: 1px solid var(--black);
  height: 32px;
  width: 400px;
}

.progress {
  height: 100%;
  background-color: rgb(49, 211, 0);
  width: 0%;
}

.list-container {
  max-height: 400px;
  overflow-y: scroll;
}

.codigo-fonte {
  position: absolute;
  bottom: 40px;
}